{% extends 'women/base.html' %}

{% block content %}
<div class="form-container">
    <h1>{{ title }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user.photo %}
            <p><img src="{{ user.photo.url }}" style="max-width: 150px; border-radius: 50%; display: block; margin: 0 auto;"></p>
        {% else %}
            <p><img src="{{ default_image }}" style="max-width: 150px; border-radius: 50%; display: block; margin: 0 auto;"></p>
        {% endif %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <p>
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>
                {{ f }}
                <div class="form-error">{{ f.errors }}</div>
            </p>
        {% endfor %}
        <button type="submit">Сохранить изменения</button>
    </form>
    <hr>
    <p style="text-align: center;"><a href="{% url 'users:password_change' %}">Сменить пароль</a></p>
</div>
{% endblock %}